<!-- BEGIN ADDED BY navigation.ejs -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img alt="" src="images/logo.png">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="/overview" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/overview">Projects Overview</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/overview#this-page">This Project</a></li>
            <li><a href="/overview#movie-picker">Movie Picker</a></li>
            <li><a href="/overview#shared-modules">Shared Modules</a></li>
            <li><a href="/overview#testing-performance">Testing Performance</a></li>
            <li><a href="/overview#shows-of-iniative">Shows of Initiative</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Skills Building Program <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://github.com/fs-webdev/skill-building-program#badges" target="_blank"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> Program</a></li>
            <!-- <li><a href="https://docs.google.com/spreadsheets/d/1dw4XZuO0UglcRfzjDwnnFoZaSHHEsoUbxW7BvCcG1Pw/edit#gid=0" target="_blank"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> Progress Chart</a></li> -->
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Link</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- END ADDED BY navigation.ejs -->
