<% include partials/header %>

  <main>
    <article>
      <hgroup>
        <h1><%= title %></h1>
        <h3></h3>
      </hgroup>
      <p>The skills program requires that we demonstrate knowledge and proficiency in specific areas. This has resulted in a number of different files, applications, and repositories. This application simply enumerates them.</p>
      <a href="/overview">Projects Overview</a>
      <br />
      <h4>To-Do:</h4>
      <ul>
        <li>Add karma dependency and write tests.</li>
        <li>Create and deploy to Heroku app.</li>
        <li>Add accessibility features.</li>
        <li>Add gzip to Express (https://github.com/expressjs/compression)</li>
        <li>Add GitHub group authentication, just for kicks, with specific notes for how to disable it.</li>
      </ul>
    </article>
  </main>

<% include partials/footer %>
