<% include partials/header %>

  <main>
    <article>
      <hgroup>
        <h1><%= title %></h1>
        <h3></h3>
      </hgroup>

      <p>The following is a summary of the various projects used to meet requirements in the <a href="https://github.com/fs-webdev/skill-building-program#badges" target="_blank">skills building program</a>.</p>

      <p>To-Do:</p>
      <ul>
        <li>Create a tag searching form that automatically expands matching projects containing the searched-for tag.</li>
      </ul>

      <details class="project">
        <summary><a id="user-content-this-page" class="anchor" href="#this-page" aria-hidden="true"></a>This Page</summary>
        <div class="content">
          <a href="/overview#this-page"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> This Page</a>

          <div class="flex-container">
            <div class="flex-item description-block">
              <p>This page is a composition of four .ejs files served by node+Express, and utilizes Bootstrap and additional media queries in a Stylus stylesheet, combined with flexbox to format content and navigation responsively (view narrower than 425px at your own risk). HTML5 elements are present, including:</p>
              <ul>
                <li>&lt;header&gt;</li>
                <li>&lt;footer&gt;</li>
                <li>&lt;nav&gt;</li>
                <li>&lt;main&gt;</li>
                <li>&lt;summary&gt;</li>
              </ul>
            </div>

            <div class="flex-item demonstrates-block">
              <p>
                <span class="tag">Bootstrap</span>
                <span class="tag">Express</span>
                <span class="tag">.ejs</span>
                <span class="tag">flexbox</span>
                <span class="tag">HTML5</span>
                <span class="tag">nodejs</span>
              </p>
            </div>
          </div>
        </div>
      </details>

      <details class="project">
        <summary><a id="user-content-movie-picker" class="anchor" href="#movie-picker" aria-hidden="true"></a>Movie Picker</summary>
        <div class="content">
          <a href="https://github.com/skye2k2/movie-picker#movie-picker" target="_blank"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> https://github.com/skye2k2/movie-picker</a>

          <div class="flex-container">
            <div class="flex-item description-block">
              <p>This is a small Angular application created to intelligently filter an IMDB movie list export, and even choose movie options for you, based on filter criteria.</p>
            </div>
            <div class="flex-item demonstrates-block">
              <p>
                <span class="tag">Angular</span>
                <span class="tag">Angular Filters</span>
                <span class="tag">Bootstrap</span>
                <span class="tag">CDN</span>
                <span class="tag">Documentation</span>
                <span class="tag">GitHub Demo</span>
                <span class="tag">Open Source</span>
                <span class="tag">Responsive Design</span>
              </p>
            </div>
          </div>
        </div>
      </details>

      <details class="project">
        <summary><a id="user-content-shared-modules" class="anchor" href="#shared-modules" aria-hidden="true"></a>Shared Modules</summary>
        <div class="content">
          <a href="https://github.com/fs-eng/ng-shared-components/blob/master/assets/js/modules/fs/fsPersonCard" target="_blank"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> https://github.com/fs-eng/ng-shared-components/blob/master/assets/js/modules/fs/fsPersonCard</a><br />
          <a href="https://github.com/fs-eng/ng-shared-components/blob/master/assets/js/modules/fs/attributionBlock" target="_blank"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> https://github.com/fs-eng/ng-shared-components/blob/master/assets/js/modules/fs/attributionBlock</a><br />
          <a href="https://github.com/fs-eng/ng-shared-components/blob/master/assets/js/modules/fs/fsTempleStatus" target="_blank"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> https://github.com/fs-eng/ng-shared-components/blob/master/assets/js/modules/fs/fsTempleStatus</a>
          <div class="flex-container">
            <div class="flex-item description-block">
              <p>I have created and helped create, test, document, and maintain common modules that are re-used by various other modules in FamilySearch applications.</p>
            </div>
            <div class="flex-item demonstrates-block">
              <p>
                <span class="tag">Angular</span>
                <span class="tag">Documentation</span>
                <span class="tag">Modular Code</span>
                <span class="tag">Unit Testing</span>
              </p>
            </div>
          </div>
        </div>
      </details>

      <details class="project">
        <summary><a id="user-content-picture-work" class="anchor" href="#picture-work" aria-hidden="true"></a>Picture Work</summary>
        <div class="content">
          <div class="flex-container">
            <div class="flex-item description-block">
              <p>This is an example utilization of picture elements, with webp and a fallback, along with different images for various breakpoints.</p>
              <picture>
                <source type="image/webp" srcset="../images/cats/highdef.png 2x, ../images/cats/kittens.webp 1.5x" media="(min-width: 1000px)">
                <source srcset="../images/cats/takedown.gif" media="(min-width: 800px)">
                <source srcset="../images/cats/roar.gif" media="(min-width: 620px)">
                <img src="../images/cats/410.gif" alt="Alt text used regardless of which image is being displayed">
              </picture>
              <br><br>
              <p>This is an example of what never to do with SVG elements.</p>
              <svg id="svgImage2" width="200" height="80" xmlns="http://www.w3.org/2000/svg">
                <path fill="#fff" d="M-1-1h246v213H-1z"></path>
                <g stroke="#000" font-size="18" stroke-width="0">
                  <text id="svgTheFirst" transform="scale(4)" font-family="'Comic Sans', serif" y="18" x="0">S</text>
                  <text id="svgTheRest" transform="scale(2)" font-family="'Courier New', Courier, monospace" y="28" x="20" fill="#aaa">kye</text>
                </g>
              </svg>

              <style>
                .filtered {
                  filter: url(#filter);
                  -webkit-filter: url(#filter);
                  color: #16B5FF;
                  fill: #16B5FF;
                  font-family: 'Racing Sans One', cursive;
                  font-size: 110px;
                }
              </style>
              <svg width="300" height="300" xmlns="http://www.w3.org/2000/svg">
                <defs>
                  <filter id="filter" width="150%" height="160%" x="-25%" y="-25%">
                  <!-- COLORS -->
                    <feFlood flood-color="#16B5FF" result="COLOR-blue"></feFlood>‚
                    <feFlood flood-color="#9800FF" result="COLOR-violet"></feFlood>
                    <feFlood flood-color="#A64DFF" result="COLOR-violet-light"></feFlood>
                  <!-- COLORS END -->

                  <!-- BOTTOM SPLASH -->
                    <feTurbulence baseFrequency="0.05" type="fractalNoise" numOctaves="1" seed="2" result="BOTTOM-SPLASH_10"></feTurbulence>
                    <feGaussianBlur stdDeviation="6.5" in="SourceAlpha" result="BOTTOM-SPLASH_20"></feGaussianBlur>
                    <feDisplacementMap scale="420" in="BOTTOM-SPLASH_20" in2="BOTTOM-SPLASH_10" result="BOTTOM-SPLASH_30"></feDisplacementMap>
                    <feComposite operator="in" in="COLOR-blue" in2="BOTTOM-SPLASH_30" result="BOTTOM-SPLASH_40"></feComposite>
                  <!-- BOTTOM END -->

                  <!-- MIDDLE SPLASH -->
                    <feTurbulence baseFrequency="0.2" type="fractalNoise" numOctaves="1" seed="1" result="MIDDLE-SPLASH_10"></feTurbulence>
                    <feGaussianBlur in="SourceAlpha" stdDeviation="0.1" result="MIDDLE-SPLASH_20"></feGaussianBlur>
                    <feDisplacementMap in="MIDDLE-SPLASH_20" in2="MIDDLE-SPLASH_10" scale="25" result="MIDDLE-SPLASH_30"></feDisplacementMap>
                    <feComposite in="COLOR-violet-light" in2="MIDDLE-SPLASH_30" operator="in" result="MIDDLE-SPLASH_40"></feComposite>
                  <!-- MIDDLE END -->

                  <!-- TOP SPLASH -->
                    <feTurbulence baseFrequency="0.08" type="fractalNoise" numOctaves="1" seed="1" result="TOP-SPLASH_10"></feTurbulence>
                    <feGaussianBlur stdDeviation="3.5" in="SourceAlpha" result="TOP-SPLASH_20"></feGaussianBlur>
                    <feDisplacementMap scale="180" in="TOP-SPLASH_20" in2="TOP-SPLASH_10" result="TOP-SPLASH_30"></feDisplacementMap>
                    <feComposite operator="in" in="COLOR-violet" in2="TOP-SPLASH_30" result="TOP-SPLASH_40"></feComposite>
                  <!-- TOP END -->

                  <!-- LIGHT EFFECTS -->
                    <feMerge result="LIGHT-EFFECTS_10">
                      <feMergeNode in="BOTTOM-SPLASH_40"></feMergeNode>
                      <feMergeNode in="MIDDLE-SPLASH_40"></feMergeNode>
                      <feMergeNode in="TOP-SPLASH_40"></feMergeNode>
                    </feMerge>
                    <feColorMatrix type="matrix" values="0 0 0 0 0,
                    0 0 0 0 0,
                    0 0 0 0 0,
                    0 0 0 1 0" in="LIGHT-EFFECTS_10" result="LIGHT-EFFECTS_20"></feColorMatrix>
                    <feGaussianBlur stdDeviation="2" in="LIGHT-EFFECTS_20" result="LIGHT-EFFECTS_30"></feGaussianBlur>
                    <feSpecularLighting surfaceScale="5" specularConstant=".75" specularExponent="30" lighting-color="#white" in="LIGHT-EFFECTS_30" result="LIGHT-EFFECTS_40">
                      <fePointLight x="-50" y="-100" z="400"></fePointLight>
                    </feSpecularLighting>
                    <feComposite operator="in" in="LIGHT-EFFECTS_40" in2="LIGHT-EFFECTS_20" result="LIGHT-EFFECTS_50"></feComposite>
                    <feComposite operator="arithmetic" k1="0" k2="1" k3="1" k4="0" in="LIGHT-EFFECTS_10" in2="LIGHT-EFFECTS_50" result="LIGHT-EFFECTS_60"></feComposite>
                  </filter>
                  <!-- LIGHT EFFECTS END -->
                </defs>
                <text class="filtered" x="50" y="150">Clif</text>
              </svg>
            </div>
            <div class="flex-item demonstrates-block">
              <p>
                <span class="tag">HTML Apprentice</span>
              </p>
            </div>
          </div>
        </div>
      </details>

      <details class="project">
        <summary><a id="user-content-testing-performance" class="anchor" href="#testing-performance" aria-hidden="true"></a>Testing Performance</summary>
        <div class="content">
          <a href="https://github.com/skye2k2/testing" target="_blank"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> https://github.com/skye2k2/testing</a>

          <div class="flex-container">
            <div class="flex-item description-block">
              <p>When there are multiple ways to accomplish identical results, it is generally worth proving out that your chosen implementation is the most performant for your particular situation. This repository tests different implementations of Fibonacci functions.</p>
<pre><code class="bash">
  Firefox 47.0.0 LOG: 'Regular Recursive (1):  15 microseconds'
  Firefox 47.0.0 LOG: 'Regular Iterative (1):  30 microseconds'
  Firefox 47.0.0 LOG: 'Cached Iterative  (1):  20 microseconds'

  Firefox 47.0.0 LOG: 'Fastest miniscule implementation: Recursive'

  Firefox 47.0.0 LOG: 'Regular Recursive (5):  5 microseconds'
  Firefox 47.0.0 LOG: 'Regular Iterative (5):  5 microseconds'
  Firefox 47.0.0 LOG: 'Cached Iterative  (5):  5 microseconds'
  Firefox 47.0.0 LOG: 'Unable to determine miniscule winner--the fastest
  tests are equally fast'

  Firefox 47.0.0 LOG: 'Regular Recursive (10):   105 microseconds'
  Firefox 47.0.0 LOG: 'Regular Iterative (10):   90 microseconds'
  Firefox 47.0.0 LOG: 'Cached Iterative  (10):   45 microseconds'

  Firefox 47.0.0 LOG: 'Fastest small implementation: Cached Iterative'

  Firefox 47.0.0 LOG: 'Regular Recursive (25):   865 microseconds'
  Firefox 47.0.0 LOG: 'Regular Iterative (25):   15 microseconds'
  Firefox 47.0.0 LOG: 'Cached Iterative  (25):   5 microseconds'

  Firefox 47.0.0 LOG: 'Fastest medium implementation: Cached Iterative'

  Firefox 47.0.0 LOG: 'Regular Recursive (45):   6566180 microseconds'
  Firefox 47.0.0 LOG: 'Regular Iterative (45):   25 microseconds'
  Firefox 47.0.0 LOG: 'Cached Iterative  (45):   5 microseconds'

  Firefox 47.0.0 LOG: 'Fastest large implementation: Cached Iterative'

  Chrome 51.0.2704 LOG: 'Regular Recursive (1):  40 microseconds'
  Chrome 51.0.2704 LOG: 'Regular Iterative (1):  60 microseconds'
  Chrome 51.0.2704 LOG: 'Cached Iterative  (1):  55 microseconds'

  Chrome 51.0.2704 LOG: 'Fastest miniscule implementation: Recursive'

  Chrome 51.0.2704 LOG: 'Regular Recursive (5):  65 microseconds'
  Chrome 51.0.2704 LOG: 'Regular Iterative (5):  65 microseconds'
  Chrome 51.0.2704 LOG: 'Cached Iterative  (5):  55 microseconds'

  Chrome 51.0.2704 LOG: 'Fastest miniscule implementation: Cached Iterative'

  Chrome 51.0.2704 LOG: 'Regular Recursive (10):   0 microseconds'
  Chrome 51.0.2704 LOG: 'Regular Iterative (10):   5 microseconds'
  Chrome 51.0.2704 LOG: 'Cached Iterative  (10):   0 microseconds'
  Chrome 51.0.2704 LOG: 'Unable to determine small winner--the fastest
  tests are equally fast'

  Chrome 51.0.2704 LOG: 'Regular Recursive (25):   1005 microseconds'
  Chrome 51.0.2704 LOG: 'Regular Iterative (25):   10 microseconds'
  Chrome 51.0.2704 LOG: 'Cached Iterative  (25):   0 microseconds'

  Chrome 51.0.2704 LOG: 'Fastest medium implementation: Cached Iterative'

  Chrome 51.0.2704 LOG: 'Regular Recursive (45):   9146015 microseconds'
  Chrome 51.0.2704 LOG: 'Regular Iterative (45):   15 microseconds'
  Chrome 51.0.2704 LOG: 'Cached Iterative  (45):   5 microseconds'

  Chrome 51.0.2704 LOG: 'Fastest large implementation: Cached Iterative'

  PhantomJS 2.1.1 LOG: 'Regular Recursive (1):   48 microseconds'
  PhantomJS 2.1.1 LOG: 'Regular Iterative (1):   146 microseconds'
  PhantomJS 2.1.1 LOG: 'Cached Iterative  (1):   173 microseconds'

  PhantomJS 2.1.1 LOG: 'Fastest miniscule implementation: Recursive'

  PhantomJS 2.1.1 LOG: 'Regular Recursive (5):   6 microseconds'
  PhantomJS 2.1.1 LOG: 'Regular Iterative (5):   16 microseconds'
  PhantomJS 2.1.1 LOG: 'Cached Iterative  (5):   18 microseconds'

  PhantomJS 2.1.1 LOG: 'Fastest miniscule implementation: Recursive'

  PhantomJS 2.1.1 LOG: 'Regular Recursive (10):  123 microseconds'
  PhantomJS 2.1.1 LOG: 'Regular Iterative (10):  4 microseconds'
  PhantomJS 2.1.1 LOG: 'Cached Iterative  (10):  3 microseconds'

  PhantomJS 2.1.1 LOG: 'Fastest small implementation: Cached Iterative'

  PhantomJS 2.1.1 LOG: 'Regular Recursive (25):  1331 microseconds'
  PhantomJS 2.1.1 LOG: 'Regular Iterative (25):  9 microseconds'
  PhantomJS 2.1.1 LOG: 'Cached Iterative  (25):  5 microseconds'

  PhantomJS 2.1.1 LOG: 'Fastest medium implementation: Cached Iterative'

  PhantomJS 2.1.1 LOG: 'Regular Recursive (45):  12213983 microseconds'
  PhantomJS 2.1.1 LOG: 'Regular Iterative (45):  10 microseconds'
  PhantomJS 2.1.1 LOG: 'Cached Iterative  (45):  6 microseconds'

  PhantomJS 2.1.1 LOG: 'Fastest large implementation: Cached Iterative'

  LOG: 'For tiny and small implementations, regular recursive runs the fastest. For medium and large implementations, cached iterative runs the fastest.'
</code></pre>
            </div>
            <div class="flex-item demonstrates-block">
              <p>
                <span class="tag">Karma/Mocha/Chai/Sinon</span>
                <span class="tag">Testing Performance</span>
              </p>
            </div>
          </div>
        </div>
      </details>

    </article>
  </main>

<!-- Code Highlighting Library -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/styles/monokai-sublime.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<script type="text/javascript">
$(window).on('hashchange', function() {
  openProjectDetails();
});

$(document).ready(function(){
  openProjectDetails();
});

function openProjectDetails() {
  if (document.location.hash) {
    $(".project").attr("open", false);
    $("#user-content-" + document.location.hash.slice(1)).parents(".project").attr("open", true);
  }
}
</script>

<% include partials/footer %>
